{
  "dev": {
    "baseUrl": "http://localhost:8888",
    "token": "validToken",
    "userId": "UUID"
  },
  "prod": {
    "baseUrl": "https://prod.api.url",
    "token": "validToken",
    "userId": "UUID"
  }
}
